*
{
    box-sizing: border-box;
}

.container-fluid
{
    header
    {
        color: white;
        background-color: #111111;
        text-align: center;
    }

    a
    {
        color:white;
        text-align: center;
    }

    .navbar
    {
        height:auto;
        margin-bottom: 10px;
        padding: 0;
    }
    .navbar-toggler
    {
        margin: 0;
        padding: 0;
    }

    .jumbotron
    {
        background-image: url(../images/lee-cartledge-NBhXcKunJL8-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        height: 100vh;
        margin: 0;
        display:flex;
        align-items: center;
        overflow: hidden;
    }

    article
    {
        padding-top:10px;
        background-color: #111111;
        text-align: center;
        margin: 0;
        overflow: hidden;
    }

    h3
    {
        text-align: center;
        color: aquamarine;
    }

    p
    {
        text-align: center;
        color:white;
        justify-content: left;
    }

    footer
    {
        background-color: #111111;
        color: aquamarine;
    }

    .events
    {
        border-right:white 2px solid;
    }
    
}